/* Javob berish maydoni uchun CSS */
.reply-input-container {
    display: flex;
    margin-top: 10px;
}

.reply-input-container .add-comment-avatar {
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
}

.reply-input-container .comment-input-container {
    flex: 1;
    border-bottom: 1px solid #272727;
}

.reply-input-container .comment-input:focus {
    border-bottom: 1px solid #3ea6ff;
}

.reply-input-container .comment-input {
    padding-bottom: 30px; /* Tugmalar uchun joy */
}

.reply-input-container .comment-buttons {
    bottom: 0px;
}

.comment-actions .like-icon-svg {
    transition: all 0.2s;
}

.comment-actions .like-icon-svg.liked {
    fill: #fff;
    stroke: #fff;
}
